<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # --- Forzar HTTPS ---
    # Si HTTPS está apagado...
    RewriteCond %{HTTPS} off
    # Redirigir a la misma URL pero con https://
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
    # ----------------------------------

    # Redirigir Trailing Slashes...
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Redirigir todo hacia la carpeta public/
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ /public/$1 [L,QSA]
</IfModule>
